hypervisor:
  - 
    host: yourhost1.whereismyvm.com:8006 # When port is different from 443 you can specify it in the host
    type: proxmox
    node_name: name_of_the_hypervisor_node # Useful in case of Proxmox "cluster". Optional if it's not part of a cluster.
    login: xxxx
    passwd: xxxx
  - 
    host: yourhost1bis.whereismyvm.com
    type: esxi
    login: xxxx
    passwd: xxxx
  - 
    host: yourhost2.whereismyvm.com
    type: esxi
    login: xxxxx
    passwd: xxxx
  - 
    host: yourhost3.whereismyvm.com
    type: esxi
    login: xxxx
    passwd: xxxxx
  - 
    host: yourhost4.whereismyvm.com
    type: esxi
    login: xxxxx
    passwd: xxxxx
  - 
    host: yourhost5.whereismyvm.com
    type: esxi
    login: xxxxx
    passwd: xxxxx
  -
    host: yourhost6.whereismyvm.com
    type: proxmox
    login: xxxxx
    passwd: xxxxx


