{% extends "../base.html" %}

{% block css %}
{% endblock css %}

{% block content %}

    <h1>Total Number of VMs : {{hypervisorDataList.countVMTotal}} ({{hypervisorDataList.countVMPoweredOnTotal}} started, {{hypervisorDataList.countVMPoweredOffTotal}} stopped)</h1>
   
    {% for hypervisorData in hypervisorDataList.hypervisorDataList %}
        <table>
            <tr>
                <th scope="col" colspan="10">
                    <span class="mediuminfo">{{ hypervisorData.hostName }}</span>
                    {% if hypervisorData.hostType == "proxmox" %}<br><span class="mediuminfo">~ {{ hypervisorData.nodeName }} ~</span>{% endif %}
                    <div class="smallinfo">{{hypervisorData.countVMTotal}} VM ({{hypervisorData.countVMPoweredOn}} started, {{hypervisorData.countVMPoweredOff}} stopped), Hypervisor {% if hypervisorData.hostType == "esxi" %}VMWare{% elif hypervisorData.hostType == "proxmox" %}Proxmox VE{% else %}(unknow?){% endif %} - version {{ hypervisorData.hostData.version }}</div>
                    <div class="stats">"Instant'Usage"* => RAM: <span {% if hypervisorData.hostData.getRamPercentageUsage > 89 %}class="alert"{% endif %}>{{ hypervisorData.hostData.getRamPercentageUsage }}% et {{ hypervisorData.getAvailableRAMGb }} GB free</span>  //   <span {% if hypervisorData.hostData.getCpuPercentageUsage > 70 %}class="alert"{% endif %}>CPU: {{ hypervisorData.hostData.getCpuPercentageUsage }}%</span>   //   {% if hypervisorData.getDiskPercentageUsage > 89 %}<span class="alert">Disk: free space low</span>{% else %}<span>Disk: free space OK</span>{% endif %}   //   <span {% if hypervisorData.hostData.uptimeMin < 2880 %}class="alert"{% endif %}>Uptime: {{hypervisorData.hostData.getUptimeString}}</span></div>
                    <div class="stats">*Indicators in beta version</div>
                </th>
            </tr>
            <tr>
                <th scope="col">VM</th>
                <th scope="col">Power</th>
                <th scope="col">vCPU</th>
                <th scope="col">RAM</th>
                <th scope="col">Disk*</th>
                <th scope="col">{% if hypervisorData.hostType == "esxi" %}VMWare Tools{% elif hypervisorData.hostType == "proxmox" %}QEMU Agent{% else %}Agent (unknow?){% endif %}</th>
                <th scope="col">OS</th>
                <th scope="col">IP</th>
            </tr>
            {% for vm in hypervisorData.vmDataList %}
                <tr class="{{ vm.powerState.name }}">
                    <th scope="row">{{ vm.name }}</th>
                    <td>{{ vm.powerState.name }}</td>
                    <td>{{ vm.numCpu }}</td>
                    <td>{{ vm.getMemorySizeGb }} GB</td>
                    <td>{{ vm.getAllocatedDiskSpaceGb }} GB</td>
                    <td>{{ vm.toolsVersion }}</td>
                    <td>{{ vm.guestFullName }}</td>
                    <td>{{ vm.ipAddress }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}
{% endblock content %}
